<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет деканата</title>
</head>
<body>
    <h1>Личный кабинет деканата</h1>
    <ul>
        <li><a href="/dean/manage_users">Управление студентами</a></li>
        <li><a href="/dean/manage_teachers">Управление преподавателями</a></li>
        <li><a href="/dean/manage_records">Управление ведомостями</a></li>
        <li><a href="/dean/reports">Формирование отчетов</a></li>
    </ul>
    <p><a href="/logout">Выйти</a></p>
</body>
</html>
